# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
bun.lock*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache

# Local env files
.env*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
wrangler*.json*
!wrangler.json*.example

# Tests
coverage

# Drizzle ORM
.drizzle

# Better Auth
auth-schema.ts
database.sqlite

