{
  "name": "besidka",
  "compatibility_date": "2025-10-01",
  // Uncomment this the following line if you want to use a custom domain
  // "workers_dev": false,
  // "routes": [
  //   {
  //     "custom_domain": true,
  //     "pattern": "domain.com"
  //   },
  //   {
  //     "pattern": "*.domain.com/*",
  //     "zone_name": "domain.com"
  //   }
  // ],
  // @TODO: Replace the following with your actual D1 database details
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "besidka",
      // bunx wrangler d1 create besidka
      "database_id": "%DB_ID%",
      "migrations_dir": ".drizzle/migrations"
    }
  ],
  // @TODO: Replace the following with your actual KV storage details
  "kv_namespaces": [
    {
      "binding": "KV",
      // bunx wrangler kv namespace create besidka
      "id": "%KV_ID%"
    }
  ]
}