/* 
The difference between dark:xx and @variant dark
is that dark:xx is @media (prefers-color-scheme: dark) {}
that relies only on system theme preference
while @variant dark is for when the user explicitly
sets the app theme to dark mode and the class is added to the html element.
The same for light:xx and @variant light.
Meanwhile dark:xx and light:xx in *.vue templates will still work as expected.
*/

@import "tailwindcss";

@source "../../";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  logs: false;
}

/* https://v5.daisyui.com/theme-generator/ */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-white);
  --color-base-200: var(--color-stone-100);
  --color-base-300: var(--color-stone-200);
  --color-base-content: var(--color-stone-950);
  --color-primary: var(--color-stone-800);
  --color-primary-content: var(--color-white);
  --color-secondary: var(--color-white);
  --color-secondary-content: var(--color-stone-800);
  --color-accent: var(--color-pink-700);
  --color-accent-bg: var(--color-pink-400);
  --color-accent-content: var(--color-white);
  --color-neutral: var(--color-stone-800);
  --color-neutral-content: var(--color-white);
  --color-info: var(--color-sky-700);
  --color-info-content: var(--color-sky-100);
  --color-success: var(--color-emerald-700);
  --color-success-content: var(--color-emerald-950);
  --color-input-success: var(--color-emerald-600);
  --color-warning: var(--color-amber-700);
  --color-warning-content: var(--color-amber-100);
  --color-error: var(--color-red-600);
  --color-error-content: var(--color-white);
  --radius-selector: 1rem;
  --radius-field: .5rem;
  --radius-box: .5rem;
  --size-selector: .3rem;
  --size-field: .3rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;

  --color-text: var(--color-stone-950);
  --color-skeleton: var(--color-gray-300);
  --color-skeleton-overlay: var(--color-gray-200);

  --color-logo-eyes-bg: var(--color-white);
}


@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: var(--color-stone-800);
  --color-base-200: var(--color-stone-900);
  --color-base-300: var(--color-stone-950);
  --color-base-content: var(--color-stone-100);
  --color-primary: var(--color-stone-800);
  --color-primary-content: var(--color-stone-100);
  --color-secondary: var(--color-stone-100);
  --color-secondary-content: var(--color-stone-800);
  --color-accent: var(--color-pink-300);
  --color-accent-bg: var(--color-pink-950);
  --color-accent-content: var(--color-stone-950);
  --color-neutral: var(--color-stone-800);
  --color-neutral-content: var(--color-stone-100);
  --color-info: var(--color-sky-100);
  --color-info-content: var(--color-sky-950);
  --color-success: var(--color-emerald-200);
  --color-success-content: var(--color-emerald-950);
  --color-input-success: var(--color-success);
  --color-warning: var(--color-amber-100);
  --color-warning-content: var(--color-amber-950);
  --color-error: var(--color-red-200);
  --color-error-content: var(--color-red-950);
  --radius-selector: 1rem;
  --radius-field: .5rem;
  --radius-box: .5rem;
  --size-selector: .3rem;
  --size-field: .3rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;


  --color-text: var(--color-white);
  --color-skeleton: var(--color-gray-400);
  --color-skeleton-overlay: var(--color-white);

  --color-logo-eyes-bg: var(--color-stone-700);
}

@theme {
  --breakpoint-xs: 29rem;
  --breakpoint-xxs: 26rem;

  --text-2xs: .625rem;

  --font-display: 'Nunito', sans-serif;
  --font-code: 'Atkinson Hyperlegible Mono', sans-serif;

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) var(--animate-pulse-iterations, infinite);
  --animate-pulse-once: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 1;

  --animate-zoom: zoom 2s ease-in-out infinite;

  @keyframes zoom {
    0% {
      transform: scale(100%);
    }
    50% {
      transform: scale(110%);
    }
    100% {
      transform: scale(100%);
    }
  }

  --animate-fade-in: fade-in 300ms ease-out;

  @keyframes fade-in {
    from {
      transform: translateY(100px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@custom-variant light {
  &:where([data-theme="light"], [data-theme="light"] *) {
    @slot;
  }
}

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }
}

@layer base {
  html {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  body {
    @apply overflow-hidden w-full h-screen font-display;
    position: relative;
    width: 100%;
    height: 100%;
  }

  strong {
    @apply font-medium;
  }
}

/** 
 * Change the background color of the skeleton loader
 * https://github.com/saadeghi/daisyui/blob/master/src/components/styled/skeleton.css 
 */
@layer components {
  .skeleton:not(.skeleton--default) {
    @apply rounded-full;
  }
}

@layer utilities {

  .checkbox {
    --size-selector: .25rem;
    --radius-selector: .5rem;
  }

  .badge {
    --size-selector: 0.1875rem;
  }

  .tooltip::before {
    --radius-field: .25rem;
  }

  .fieldset-legend {
    font-size: .875rem;
  }

  .tab-content {
    @apply bg-base-100 border-base-300 p-6;
  }

  .skeleton:not(.skeleton--default) {
      background-color: var(--color-skeleton);
      background-image: linear-gradient(
        105deg,
        transparent 0%,
        transparent 40%,
        var(--color-skeleton-overlay) 50%,
        transparent 60%,
        transparent 100%
      );
  }

  .validator:not([type="checkbox"]) {

    &:user-invalid, &:has(:user-invalid) {
      --input-color: var(--color-base-content);
    }


    &[user-valid="true"], &:has([user-valid="true"]) {
      &, &:focus, &:checked, &[aria-checked="true"], &:focus-within {
        --input-color: var(--color-success);
      }
    }
    
    &[user-invalid="true"], &:has([user-invalid="true"]) {
      --radius-field: 0;
      --custom-radius-field: .5rem;

      border-top-right-radius: var(--custom-radius-field);
      border-top-left-radius: var(--custom-radius-field);
      
      &, &:focus, &:checked, &[aria-checked="true"], &:focus-within {
        --input-color: var(--color-error);
      }

      & ~ .validator-hint {
        --custom-radius-field: .5rem;

        border-bottom-right-radius: var(--custom-radius-field);
        border-bottom-left-radius: var(--custom-radius-field);
        
        @apply visible flex items-center justify-end gap-2 
          mt-0 py-0.5 px-2 
          bg-error text-error-content;
      }
    }
  }

  .label {
    @apply text-wrap;
  }

  .input {
    &:has(> input[disabled]), &:is(:disabled, [disabled]) {
      @apply border-base-300;
    }
  }

  .modal {
    &:not(dialog:not(.modal-open)), 
    &::backdrop {
      @apply bg-black/70;
    }
  }

  .btn {
    @apply font-normal;
  }

  .btn {
    outline-color: var(--custom-outline-color, var(--btn-color));

    @variant dark {
        &.btn-primary {
          --custom-outline-color: var(--color-primary-content);
        }
        &.btn-secondary {
          --custom-outline-color: var(--color-secondary-content);
        }
        &.btn-neutral {
          --custom-outline-color: var(--color-neutral-content);
        }
    }
    &.btn-outline {
      @media (hover: hover) {
        &:not(:hover):not(:focus-visible):not(:active) {
          @variant dark {
            &.btn-primary {
              --btn-color: var(--color-primary-content);
            }
            &.btn-secondary {
              --btn-color: var(--color-secondary-content);
            }
            &.btn-neutral {
              --btn-color: var(--color-neutral-content);
            }
          }
        }
      }
    }
  }

  .chat {
    @apply flex py-0;

    &.chat-end {
      @apply flex-row-reverse;
    }
  }

  .chat-bubble {
    @apply max-w-none;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility bottom-safe {
  bottom: calc(env(safe-area-inset-bottom, 0));
}
@utility bubble-without-background {
  @apply rounded-xl shadow-2xl backdrop-blur-3xl;
}

@utility bubble {
  @apply bubble-without-background bg-white/50;

  @variant dark {
    @apply bg-white/10;
  }

  &.chat-bubble {
    .chat-start & {
      @apply rounded-bl-none;
    }

    .chat-end & {
      @apply rounded-br-none;
    }
  }
}

/* Get values from app.config.ts */
@utility main-background {
  @variant light {
    @apply bg-[#fde4f1];

    @media (prefers-color-scheme: dark) {
      @apply bg-[#834f68];
    }
  }

  @variant dark {
    @apply bg-[#4b283c];
  }
}

@utility background-gradient {
  @apply main-background;

  &::before {
    @apply content-[''] fixed inset-0 pointer-events-none bg-gradient-to-tr 
      /* from-pink-500/10 via-pink-500/5 to-pink-500/20 */
      from-[#fce0ee] via-[#fde9f3] to-[#fdcee6]
    ;
  }

  @variant dark {
    &::before {
      /* @apply from-pink-500/5 via-pink-500/20 to-pink-500/10; */
      @apply from-[#31282f] via-[#512a40] to-[#3c2834];

    }
  }
  
}

:root {
  --sat: env(safe-area-inset-top, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
  --sar: env(safe-area-inset-right, 0px);
}

@layer components {

  .bubble {
    @apply bubble;
  }

  .bubble-without-background {
    @apply bubble-without-background;
  }
}

html {
  @apply overscroll-none main-background;
}

body {
  @apply background-gradient;
}

.icon {
  @apply size-6;
}

.chat-markdown {
  @apply overflow-x-hidden leading-7 text-base-content/80;

  hr {
    @apply my-4 border-t border-base-content/30;
  }
  strong {
    @apply font-semibold;
  }

  ol,
  ul {
    @apply list my-4 ml-8 marker:text-accent;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ol[start],
  ul[start] {
    & > li {
      @apply font-semibold;
    }
    
    & + ul,
    & + li {
      @apply ml-12;
    }
  }

  li {
    @apply pl-1;
  }

  thead {
    @apply text-accent;

    tr {
      @apply !bg-pink-100 dark:!bg-pink-950 dark:text-base-content;
    }
  }

  tbody tr {
    @apply even:bg-pink-100/30 dark:even:bg-pink-100/5;
  }

  blockquote {
    @apply my-4 py-2 pl-4 border-l-4 border-base-content/50 italic text-base-content/90;
  }

  p {
    @apply mb-2 last:mb-0;
  }

  p,
  li {
    & > code {
      @apply whitespace-pre-wrap p-1 rounded bg-accent/10 text-accent text-sm;
    }
  }

  a {
    @apply link;
  }
}

/* https://github.com/saadeghi/daisyui/issues/4413#event-22477057789 */
@utility btn-ghost-legacy {
  &:not(.btn-active, :hover, :active:focus, :focus-visible, input:checked:not(.filter .btn)) {
    --btn-fg: var(--color-base-content, currentColor);

    &.btn-disabled {
      @supports (color: color-mix(in lab, red, red)) {
        --btn-fg: color-mix(in oklch, var(--color-base-content) 20%, #0000);
      }
    }
  }
}